# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Debug/
bin/

#IDE files
.project
.settings
.cproject
/src/main/TPTaller/

# Archivos de log
*.log

# Fuentes: responsabilidad del cliente (licencias)
*.ttf

# Archivos generados por Doxygen
/doc/doxygen/

# Vendor
/SDL2-2.0.3/
/yaml-cpp/
/age_server/

